@import "https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700&display=swap";
:root {
  --ff-display: Poppins, Geologica, Helvetica, Arial, sans-serif;
  --fs-2: clamp(1.602rem, 0.9308rem + 2.6848vw, 2.441rem);
  --fs-small: clamp(0.8125rem, 0.7875rem + 0.1vw, 0.875rem);
  --clr-neutral-100: #eee;
  --clr-neutral-200: #f8fafa;
  --clr-neutral-300: #c5c6c8;
  --clr-neutral-400: #818283;
  --clr-neutral-500: #4f5052;
  --clr-neutral-600: #282728;
  --clr-neutral-700: #0d0e10;
  --clr-neutral-800: #141414;
  --clr-heading: var(--clr-neutral-100);
  --clr-text: var(--clr-neutral-300);
  --clr-bg: var(--clr-neutral-800);
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-display);
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  overflow: hidden;
  padding: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--clr-heading);
}
.App {
  display: grid;
  grid-template-columns: minmax(10rem, 25%) 1fr;
  gap: 1rem;
  height: 90vh;
}
.left h3 {
  cursor: pointer;
  border: 1px solid var(--clr-neutral-600);
  padding: 0.8rem;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  border-radius: 2px;
}
.left h3:hover {
  background-color: var(--clr-neutral-600);
}
.left h3:nth-child(1) {
  border-radius: 1rem 1rem 2px 2px;
}
.left h3:nth-last-child(1) {
  border-radius: 2px 2px 1rem 1rem;
}
.left h3.active {
  background-color: var(--clr-neutral-600);
}
.right {
  border: 1px solid var(--clr-neutral-500);
  background-color: var(--clr-neutral-700);
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
}
.right .company-position {
  font-size: var(--fs-2);
}
.right .company-name,
.right .company-date {
  padding: 4px 10px;
  background-color: var(--clr-neutral-800);
  font-size: var(--fs-small);
  border-radius: 5px;
  white-space: nowrap;
}
.right > div {
  display: grid;
  background-color: var(--clr-neutral-600);
  border-bottom: 1px solid var(--clr-neutral-500);
  padding: 1.2rem;
}
.right > div > div {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-block: 0.3rem;
}
.right ul {
  padding: 2rem 1rem 0 2.5rem;
}
