@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --ff-display: "Poppins", "Geologica", Helvetica, Arial, sans-serif;
  --ff-body: "Poppins", "Geologica", Helvetica, Arial, sans-serif;

  --fs-1: clamp(1.802rem, 0.802rem + 4vw, 3.052rem);
  --fs-2: clamp(1.602rem, 0.9308rem + 2.6848vw, 2.441rem);
  --fs-3: clamp(1.424rem, 1.0008rem + 1.6928vw, 1.953rem);
  --fs-4: clamp(1.266rem, 1.0284rem + 0.9504vw, 1.563rem);
  --fs-5: clamp(1.125rem, 1.025rem + 0.4vw, 1.25rem);
  --fs-6: clamp(1rem, 1rem + 0vw, 1rem);
  --fs-regular: clamp(0.875rem, 0.8158rem + 0.2105vw, 1rem);
  --fs-small: clamp(0.8125rem, 0.7875rem + 0.1vw, 0.875rem);
  --fs-xsmall: clamp(0.6875rem, 0.6375rem + 0.2vw, 0.8125rem);

  --clr-primary-400: #5f7ff5;
  --clr-secondary-400: #d9ee5f;
  --clr-accent-400: #ee9648;

  --clr-neutral-100: #eeeeee;
  --clr-neutral-200: #f8fafa;
  --clr-neutral-300: #c5c6c8;
  --clr-neutral-400: #818283;
  --clr-neutral-500: #4f5052;
  --clr-neutral-600: #282728;
  --clr-neutral-700: #0d0e10;
  --clr-neutral-800: #141414;

  --clr-heading: var(--clr-neutral-100);
  --clr-text: var(--clr-neutral-300);
  --clr-bg: var(--clr-neutral-800);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-display);
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  background-color: var(--clr-bg);
  color: var(--clr-text);

  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--clr-heading);
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

/* ~~~~ ARCHIVE ~~~~ */
nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--clr-neutral-600);
  padding: 1rem;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.menu-list a {
  color: var(--clr-neutral-300);
  text-decoration: none;
}
.menu-list a:hover {
  color: var(--clr-primary-400);
}
.menu-list a:active {
  opacity: 0.9;
}
.hamburger {
  display: none;
}
@media (max-width: 568px) {
  .menu-list {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neutral-500);
    padding: 1rem;
    right: -50%;
    border-radius: 1rem;
    position: absolute;
    top: 5.5rem;
    transition: all 0.5s ease;
  }
  .menu-list.active {
    right: 1rem;
  }
  .hamburger {
    cursor: pointer;
    display: grid;
    font-size: 1rem;
    border: 1px solid var(--clr-neutral-500);
    border-radius: 100vw;
    padding: 0.4rem 0.8rem 0.5rem 0.7rem;
    place-content: center;
    aspect-ratio: 1;
  }

  .hamburger:hover {
    background-color: var(--clr-neutral-500);
  }
}
